@font-face {
    font-family: Delogy;
    src: url(./fonts/Delogy-Regular.ttf);
}
@font-face {
    font-family: Brut;
    src: url(./fonts/Grotesque-MT-Black.ttf);
}

/*
font-family: 'Roboto Mono', monospace;
font-family: 'Kanit', sans-serif;
*/

body{
    margin: 0px;
    min-height: 100vh;
    
    background-size: 100%;
}

.container{
    padding: 5px;
    display: grid;
    gap: 5px;
    grid-template-rows: 0.07fr 0.07fr 1fr;
}

.header{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bae642;
}

.header h2{
    font-family: Brut, sans-serif;
    padding: 1px 10px;
    margin: 0px;
    border: 2px solid black;
}

.header h2:hover{

}

.header .link{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .link a{
    color: black;
}


.external-links{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background-color: black;
}

.external-links h2{

    font-family: Brut, sans-serif;
    padding: 1px 10px;
    margin: 0px;
    color: #e797ff;
    
}

.external-links .link{
    display: flex;
    align-items: center;
    gap: 20px;
}

.external-links .link a{
    color: #e797ff;
}

li{
    list-style-type: none;
}

a{
    font-weight: bold;
    text-decoration: none;
    font-family:'Roboto Mono', sans-serif ;
}

.main-content{
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr 1fr;
}

.main-content .first img{
    height: auto;
    width: 500px;
}

.main-content .first h3{
    font-family: Brut, sans-serif;
    font-size: 70px;
    margin: 0px;
}

.main-content .first p{
    margin: 0px;
    font-size:26px ;
    font-family:'Roboto Mono', sans-serif ;

}

.main-content .two{
    font-family: Brut, sans-serif;
    margin: 0px 5px 0px 5px;
    font-size: 110px;
    writing-mode: vertical-lr;
    background-color: black;
    color: white;
    display: flex;
}

.main-content .three .bw{
    height: auto;
    width: 100%;
    max-width: 228px;
}

.main-content .three .vw{
    height: 337px;
    width: 100%;
    max-width: 250px;
}

.main-content .three p{
    font-family: 'Roboto Mono', sans-serif;
    background-color: white;
    margin: 2px;
    font-size: 21px;
    margin-bottom:2px;
    padding: 5px;
    margin-right: 5px;
    position: relative;
}



.main-content .three .glow{
    position: relative;
    padding:10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.glow::before, .glow::after{
    content: "";
    position: absolute;
    left: -2px;
    top:-2px;
    background: linear-gradient(45deg, #e6fb04,#ff6600, #00ff66,#00ffff,#ff00ff,#ff0099,#6e0dd0,#ff3000,#099fff);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate  20s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.main-content .three-2 img{
    height: auto;
    /* width: 100%; */
    width: 485px;
}

.main-content .three-3{
    display: flex;
    padding: 8px;
    background:deeppink;
    justify-content: center;
    font-size: 2.1rem;
}

.main-content .three-3 h1{
    border: 15px solid;
    font-family:'Roboto Mono', sans-serif ;
    color: white;

}

.main-content .four p{
    font-family: 'Roboto Mono', sans-serif;
    font-size: 30px;
    margin: 0px;
    margin-bottom: 2px;
}

.main-content .four .para-one{
    border: 5px solid black;
}

.main-content .four .para-two{
    border: 5px solid white;
}

.main-content span{
    background-color: none;
}

.main-content .four img{
    height: auto;
    max-width: 350px;
    width: 100%;

}