@font-face {
    font-family: Delogy;
    src: url(./fonts/Delogy-Regular.ttf);
}
@font-face {
    font-family: Brut;
    src: url(./fonts/Grotesque-MT-Black.ttf);
}

/*
font-family: 'Roboto Mono', monospace;
font-family: 'Kanit', sans-serif;
*/

body{
    margin: 0px;
    min-height: 100vh;
    
    background-size: 100%;
}

.container{
    padding: 5px;
    display: grid;
    gap: 5px;
    grid-template-rows: 0.07fr 0.07fr 1fr;
}

.header{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bae642;
}

.header h2{
    font-family: Brut, sans-serif;
    padding: 1px 10px;
    margin: 0px;
    border: 2px solid black;
}

.header h2:hover{

}

.header .link{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .link a{
    color: black;
}


.external-links{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background-color: black;
}

.external-links h2{

    font-family: Brut, sans-serif;
    padding: 1px 10px;
    margin: 0px;
    color: #e797ff;
    
}

.external-links .link{
    display: flex;
    align-items: center;
    gap: 20px;
}

.external-links .link a{
    color: #e797ff;
}

li{
    list-style-type: none;
}

a{
    font-weight: bold;
    text-decoration: none;
    font-family:'Roboto Mono', sans-serif ;
}

.main-content{
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr 1fr;
}

.main-content .first img{
    height: auto;
    width: 500px;
}

.main-content .first h3{
    font-family: Brut, sans-serif;
    font-size: 70px;
    margin: 0px;
}

.main-content .first p{
    margin: 0px;
    font-size:24px ;
    font-family:'Roboto Mono', sans-serif ;

}

.main-content .two{
    font-family: Brut, sans-serif;
    margin: 0px 5px 0px 5px;
    border: 5px solid black;
    font-size: 110px;
    writing-mode: vertical-lr;
    background-color: black;
    color: white;
}

.main-content .three .bw{
    height: 330px;
    width: 250px;
}

.main-content .three p{
    font-family: 'Roboto Mono', sans-serif;
    margin: 0px;
    font-size: 28px;
    margin-bottom:2px;
    padding: 5px;
}

.main-content .three span{
    background: #69eaff;
}

.main-content .four p{
    font-family: 'Roboto Mono', sans-serif;
    font-size: 30px;
    margin: 0px;
    margin-bottom: 2px;
}

.main-content .four .para-one{
    border: 5px solid black;
}

.main-content span{
    background-color: none;
}

.main-content .four img{
    height: auto;
    max-width: 350px;
    width: 100%;

}